---
Checks:          '*,-altera-struct-pack-align,-altera-unroll-loops,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none


